## Pandas Data Process Matters
- Read data from .csv
- Pick out the label column
- To matrix
- Train the model with the data

### Import Libraries

In [1]:
import pandas as pd
from keras.utils import to_categorical

Using TensorFlow backend.

### Read Data
Here, we read data from a .csv file, and display them

In [2]:
df = pd.read_csv('../dfb1.csv')
df

       crime  length  difficulty  coins  credits  outcome  outed
0   0.340000    0.33        0.32   0.31     0.30        0      1
1   0.120000    0.33        0.54   0.75     0.96        1      0
2   0.420000    0.33        0.76   1.19     1.62        2      0
3   0.321000    0.33        0.98   1.63     2.28        2      1
4   0.413333    0.33        1.20   2.07     2.94        1      0
5   0.453333    0.33        1.42   2.51     3.60        2      1
6   0.493333    0.33        1.64   2.95     4.26        0      1
7   0.533333    0.33        1.86   3.39     4.92        1      0
8   0.573333    0.33        2.08   3.83     5.58        2      1
9   0.613333    0.33        2.30   4.27     6.24        1      0
10  0.653333    0.33        2.52   4.71     6.90        0      1
11  0.693333    0.33        2.74   5.15     7.56        2      1
12  0.733333    0.33        2.96   5.59     8.22        0      0

### Pick out labels
Pick out the labels (outcome and outed).

Transform outcome data into one-hot-key labels.

Then, drop the two column out of the data frame.

In [3]:
outcome = df['outcome'].as_matrix()
outcome = to_categorical(outcome, num_classes = 3)
print(outcome)
outed = df['outed'].as_matrix()
print(outed)

[[ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]
 [ 0.  0.  1.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]
 [ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]
 [ 0.  1.  0.]
 [ 1.  0.  0.]
 [ 0.  0.  1.]
 [ 1.  0.  0.]]
[1 0 0 1 0 1 1 0 1 0 1 1 0]

In [4]:
df = df.drop(['outcome', 'outed'], axis=1)
df

       crime  length  difficulty  coins  credits
0   0.340000    0.33        0.32   0.31     0.30
1   0.120000    0.33        0.54   0.75     0.96
2   0.420000    0.33        0.76   1.19     1.62
3   0.321000    0.33        0.98   1.63     2.28
4   0.413333    0.33        1.20   2.07     2.94
5   0.453333    0.33        1.42   2.51     3.60
6   0.493333    0.33        1.64   2.95     4.26
7   0.533333    0.33        1.86   3.39     4.92
8   0.573333    0.33        2.08   3.83     5.58
9   0.613333    0.33        2.30   4.27     6.24
10  0.653333    0.33        2.52   4.71     6.90
11  0.693333    0.33        2.74   5.15     7.56
12  0.733333    0.33        2.96   5.59     8.22

### From data frame to matrix

In [5]:
data = df.as_matrix()
data

array([[ 0.34      ,  0.33      ,  0.32      ,  0.31      ,  0.3       ],
       [ 0.12      ,  0.33      ,  0.54      ,  0.75      ,  0.96      ],
       [ 0.42      ,  0.33      ,  0.76      ,  1.19      ,  1.62      ],
       [ 0.321     ,  0.33      ,  0.98      ,  1.63      ,  2.28      ],
       [ 0.41333333,  0.33      ,  1.2       ,  2.07      ,  2.94      ],
       [ 0.45333333,  0.33      ,  1.42      ,  2.51      ,  3.6       ],
       [ 0.49333333,  0.33      ,  1.64      ,  2.95      ,  4.26      ],
       [ 0.53333333,  0.33      ,  1.86      ,  3.39      ,  4.92      ],
       [ 0.57333333,  0.33      ,  2.08      ,  3.83      ,  5.58      ],
       [ 0.61333333,  0.33      ,  2.3       ,  4.27      ,  6.24      ],
       [ 0.65333333,  0.33      ,  2.52      ,  4.71      ,  6.9       ],
       [ 0.69333333,  0.33      ,  2.74      ,  5.15      ,  7.56      ],
       [ 0.73333333,  0.33      ,  2.96      ,  5.59      ,  8.22      ]])

### Model Training
**Problems that may existing:** It seems that keras models require that all data (input or label) are lists combined with all records consisting a set of data, and every record is required to be a list, too. In other words, all data **must** be 2-D in list structures. There comes the problem that, the 'outed' column is a 1-D list. Keras may be not working and throw out an error. Anyway, I can generate the data manually to solve the problem.