In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('dfb1.csv')

In [16]:
df

array([[ 0.34      ,  0.33      ,  0.32      ,  0.31      ,  0.3       ],
       [ 0.12      ,  0.33      ,  0.54      ,  0.75      ,  0.96      ],
       [ 0.42      ,  0.33      ,  0.76      ,  1.19      ,  1.62      ],
       [ 0.321     ,  0.33      ,  0.98      ,  1.63      ,  2.28      ],
       [ 0.41333333,  0.33      ,  1.2       ,  2.07      ,  2.94      ],
       [ 0.45333333,  0.33      ,  1.42      ,  2.51      ,  3.6       ],
       [ 0.49333333,  0.33      ,  1.64      ,  2.95      ,  4.26      ],
       [ 0.53333333,  0.33      ,  1.86      ,  3.39      ,  4.92      ],
       [ 0.57333333,  0.33      ,  2.08      ,  3.83      ,  5.58      ],
       [ 0.61333333,  0.33      ,  2.3       ,  4.27      ,  6.24      ],
       [ 0.65333333,  0.33      ,  2.52      ,  4.71      ,  6.9       ],
       [ 0.69333333,  0.33      ,  2.74      ,  5.15      ,  7.56      ],
       [ 0.73333333,  0.33      ,  2.96      ,  5.59      ,  8.22      ]])

In [17]:
df.as_matrix()

array([[ 0.34      ,  0.33      ,  0.32      ,  0.31      ,  0.3       ],
       [ 0.12      ,  0.33      ,  0.54      ,  0.75      ,  0.96      ],
       [ 0.42      ,  0.33      ,  0.76      ,  1.19      ,  1.62      ],
       [ 0.321     ,  0.33      ,  0.98      ,  1.63      ,  2.28      ],
       [ 0.41333333,  0.33      ,  1.2       ,  2.07      ,  2.94      ],
       [ 0.45333333,  0.33      ,  1.42      ,  2.51      ,  3.6       ],
       [ 0.49333333,  0.33      ,  1.64      ,  2.95      ,  4.26      ],
       [ 0.53333333,  0.33      ,  1.86      ,  3.39      ,  4.92      ],
       [ 0.57333333,  0.33      ,  2.08      ,  3.83      ,  5.58      ],
       [ 0.61333333,  0.33      ,  2.3       ,  4.27      ,  6.24      ],
       [ 0.65333333,  0.33      ,  2.52      ,  4.71      ,  6.9       ],
       [ 0.69333333,  0.33      ,  2.74      ,  5.15      ,  7.56      ],
       [ 0.73333333,  0.33      ,  2.96      ,  5.59      ,  8.22      ]])

In [22]:
df.drop(['credits'], axis=1)

       crime  length  difficulty  coins
0   0.340000    0.33        0.32   0.31
1   0.120000    0.33        0.54   0.75
2   0.420000    0.33        0.76   1.19
3   0.321000    0.33        0.98   1.63
4   0.413333    0.33        1.20   2.07
5   0.453333    0.33        1.42   2.51
6   0.493333    0.33        1.64   2.95
7   0.533333    0.33        1.86   3.39
8   0.573333    0.33        2.08   3.83
9   0.613333    0.33        2.30   4.27
10  0.653333    0.33        2.52   4.71
11  0.693333    0.33        2.74   5.15
12  0.733333    0.33        2.96   5.59